<h2>Questions:</h2>

<ul>
  {{#each model.questions as |question|}}
    {{#link-to 'question' question.id}}
      <div class="jumbotron">
        <h3>{{number-of-answers question}} {{question.title}}</h3>
        <h5>Asked by: {{question.author}}</h5>
        <h5>Additional notes: {{question.notes}}</h5>
        <h6>Total number of answers for this question: <p>{{total-answers question=question}}</p></h6>
      </div>
    {{/link-to}}
    {{update-question question=question update="update"}}
    <hr>
  {{/each}}
</ul>
{{new-question save2="save3"}}

{{display-favorites}}
